<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Database Manager</title>
</head>

<body>
    <h1>Database Manager</h1>
    <a href="{{ url_for('create_db') }}">Create Database</a>
    <a href="{{ url_for('manage_table') }}">Manage Tables</a>

    <!-- Форми для збереження та завантаження бази даних -->
    <h2>Save Database</h2>
    <form method="POST" action="{{ url_for('save_db') }}">
        <input type="text" name="filename" placeholder="Filename" required>
        <button type="submit">Save Database</button>
    </form>

    <h2>Load Database</h2>
    <form method="POST" action="{{ url_for('load_db') }}">
        <input type="text" name="filename" placeholder="Filename" required>
        <button type="submit">Load Database</button>
    </form>

    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
